#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.css-nk89i7-MuiPickersCalendarHeader-root {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 8px;
  padding-left: 24px;
  padding-right: 12px;
  max-height: 100px;
  min-height: 30px;
  background-color: rgb(219, 25, 122);
}
.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  color: #fff;
  background-color: hotpink!important;
  font-weight: 500;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}